*{
    box-sizing: border-box;
}


    img{
       display: block; 
       max-width: 100%;
       height: auto;
    }

a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #ffffff;
}
p,h1,h2,h3,h4,h5,h6,ul,li{
    margin: 0;
    padding: 0;
}
.container {
    max-width: 100%;
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
/* header */
.header{
    min-width: 320px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.btn-mobile{
  border: none;
}
.nav{
    display: flex;
    align-items: center;
}
.nav-list{
    /* display: flex; */
    gap: 40px;
    align-items: center;
    display: none;
}
.link-nav.current{
position: relative;
}
.link-nav.current::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
}
.nav-span{
 color: #2E2F42;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.address-list{
    /* display: flex; */
    /* align-items: center; */
    display: none;
}
.link-web{
    padding: 16px 0;
    margin-right: 76px;
}

/* Header mob-modal */
.mob-menubtn{
    /* display: block;
    top: 24px;
    margin-left: auto;
    margin-bottom: 24px; */
    flex-shrink: 0;
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: auto;
    background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
        

}
.btn-mobile {
    background-color: transparent;
    padding: 0;
}
.mob-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #fcfcfc;
    z-index: 999;
    padding: 24px 24px 40px 16px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    display: flex;
    flex-direction: column;

}

.address-item-mob{
   font-style: normal;
}

.address-list-mob{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.nav-list-mob {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.address-mon-menu{
    display: block;
    

}


.link-nav-mob {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.nav-mob {
    margin-bottom: auto;
}



.address-mob {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}


.link-address-mob {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #434455;
}
.current-mob {
    color: #404bbf;
}

.team-iconmob-list {
    display: flex;
        gap: 40px;
}

.team-iconfon-mob { 
    width: 40px;
    height: 40px;
}

.team-iconlink-mob {
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
        height: 100%;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons-mob {
    fill: #fff;
}
.team-iconlink-mob:hover,
.team-iconlink-mob:focus {
    background-color: #404bbf;
}


/* section 1 hero */

.hero{
    background-color: #2e2f42;
    /* padding: 188px 0; */
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/her-imgtel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* max-width: 1440px; */
    margin: 0 auto;
    max-width: 320px;
    padding-top: 72px;
    padding-bottom: 72px;

}



.hero-title{
   /* color:  #ffff;
   text-align: center;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   margin: 0 auto 48px;
   max-width: 496px; */
font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
/* padding: 72px 52px; */   
   width: 216px;
   margin: 0 auto 72px;
}
.button-hero{

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-hero:hover,
.button-hero:focus{
background-color: #404bbf;
}


@media screen and (min-resolution: 2x) {
    .hero {
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-imgx2.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        padding: 112px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-imgtab.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        width: 496px;
        margin-bottom: 36px;

    }
        @media screen and (min-resolution: 2x) {
            .hero {
                background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/tab-peoplex2.jpg);
            }
        }
}



@media screen and (min-width: 1158px) {
    .hero {
        max-width: 1440px;
        padding: 188px 0;
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/peopleoffice.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .hero-title {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin: 0 auto 48px;
        font-weight: 700;
        padding: 0;
    }
        @media screen and (min-resolution: 2x) {
            .hero {
                background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desk-peoplex2.jpg);
            }
        }
}


/* navigation */
.link-nav:hover,
.link-nav:focus,
.link-nav.current{
    color: #404bbf;
}
.link-nav:active{
color: #404bbf;
}
.link-nav{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.link-web{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
font-weight: bold;
}
/* address */
.address{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.04em;
    font-style: normal;
}
.link-address{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.link-address:hover, 
.link-address:focus,
.link-address-mob:hover,
.link-address-mob:focus{
color: #404bbf;
text-decoration: none;
}
         

/* footer */
.footer{
background-color: #2e2f42;
padding: 96px 0;
}
.footer-logo{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 288px; 
    margin-bottom: 72px;
}
.footer-container{
    /* display: flex;
    align-items: baseline; */
    display: block;
}
.footer-link{
    font-family: "Raleway", sans-serif;
    /* font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block; */
    /* margin-bottom: 16px; */
    font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
}
.footer-span{
    color: #f4f4fd;
    font-family: "Raleway" , sans-serif;
}
.footer-text{
    /* color: #f4f4fd;
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5;
    max-width: 264px; */
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;   
}
.footer-iconsvg {
    fill: #f4f4fd;
}
.footer-texticons {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
    margin-bottom: 16px;
}
.footer-icons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 72px;
}
.footer-iconlist{
    display: flex;
    gap: 16px;
    justify-content: center;
    
}
.footer-iconlink{
background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
        height: 40px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-iconlink:hover,
.footer-iconlink:focus{
background-color: #31d0aa;
}


/* section 2 */

.hidden{
    /* padding: 120px 0; */
    padding: 96px 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.hidden-list{
    display: flex;
    /* gap: 24px; */
    gap: 72px;
    flex-wrap: wrap;
}
.features-text {
    /* font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; */
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.h-features-title{
    /* font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center; */
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}
.hidden-item{
    /* width: calc((100% - 72px)/4); */
    width: 100%;
}
/* .features-icon{
    border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
     margin-bottom: 8px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #f4f4fd;
} */
@media screen and (min-width: 320px){
.features-icon{
    display: none;
}
}
@media screen and (min-width: 768px){
    .container{
        max-width: 768px;
    }
        .hidden-list {  
            gap: 72px 24px;       
        }
    .hidden-item{
        width: calc((100% - 24px)/2);
    }
    .h-features-title{
        font-weight: 700;
            font-size: 36px;
            line-height: 1.11111;
            letter-spacing: 0.02em;
            text-align: left;
    }
    .features-text{
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
    }
}
@media screen and (min-width: 1158px){
    .hidden{
        padding: 120px 0;
    }
    .container {
            max-width: 1158px;
            padding: 0 15px;
        }
.features-icon{
    border: 1px solid #8e8f99;
        border-radius: 4px;
        height: 112px;
     margin-bottom: 8px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #f4f4fd;
}

 .hidden-item {
     width: calc((100% - 72px)/4);
 }
 .h-features-title {
     font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-size: 20px;
    margin-bottom: 8px;
    text-align: center;}

.hidden-list {
    gap: 24px;
}
.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
}
.h-features-title{
    text-align: left;
}
}


    

/* section 3 */

.team-li-container{
 padding: 32px 0;
}
.team-list{
/* display: flex; */
display: flex;
flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
    justify-content: center;
}

.list-container{
    padding: 32px 0; 
}
    
.team{
    background-color: #f4f4fd;
    padding: 96px 0;
}
.team-background{
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    flex-basis: 264px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.hteam-title{
    font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        font-size: 20px;
        margin-bottom: 8px;
        text-align: center;
}
.team-text{
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}
.team-icon-list{
display: flex;  
    gap: 24px;  
    justify-content: center;
    }

.team-iconfon{
width: 40px;
height: 40px;

}
.team-iconlink{
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
justify-content: center;
border-radius: 50%;
  width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-icons{
    fill: #f4f4fd;
}
.team-iconlink:hover,
.team-iconlink:focus{
background-color: #404bbf;
}
@media screen and (min-width: 768px) {
    .team-list {
        gap: 64px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .team {
        padding: 120px 0;
    }
    .team-list {
        display: flex;
        gap: 24px;
    }
}
  
/* section 4 */
.portfolio{
    padding: 96px 0 ;
}
.portfolio-container{
    border-bottom: 3px solid #fff ;
    }
.portfolio-title{
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    font-size: 36px;
    margin-bottom: 72px;
}
.h-portfolio{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.2;
    font-size: 20px;
    margin-bottom: 8px;
}
.portfolio-text{
    letter-spacing: 0.02em;
}
.container-item{
    padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
}
.portfolio-list{
    display: flex;
    /* gap: 48px 24px; */
    gap: 48px;
    flex-wrap: wrap;
}
.portfolio-item{
/* width: calc((100% - 48px) / 3); */
width: 100%;
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px){
    .portfolio-item {
            width: calc((100% - 24px) / 2);
        }
                .portfolio-list {

                    gap: 48px 24px;
                
                }
}
@media screen and (min-width: 1158px){
    .portfolio {
            padding: 120px 0;
        }
    .portfolio-item {
            width: calc((100% - 48px) / 3);
        }
                  .portfolio-list {
        
                      gap: 48px 24px;
        
                  }
    
}
.fortfolio-overlay{
    position: relative;
    overflow: hidden;
    }


.text-overlay{
    padding: 40px 32px 164px 32px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        position: absolute;
            bottom: 0;
            left: 0;
            background-color: #4d5ae5;
            width: 360px;
            /* width: 300px; */
            height: 300px;
            transform: translateY(100%);
            padding: 40px 32px;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
@media screen and (max-width: 767px){
    .text-overlay{
        width: 300px;
    }
    
}



.portfolio-item:hover .text-overlay{
    transform: translate(0%);
}
.portfolio-item:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08)
}
/* modal window */
.overlay-modal {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
position: fixed;
top: 0;
background-color: rgba(46, 47, 66, 0.4);
width: 100%;
height: 100%;
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 288px;
    min-height: 584px;
    background-color: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* padding: 72px 24px 24px 24px; */
    padding: 72px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .btn-modal{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
        border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 .btn-modal:hover,
 .btn-modal:focus,
 .btn-undermodal:hover,
 .btn-undermodal:focus{
background-color: #404bbf;
border: none;
 }
.btn-modal:hover .modal-icon,
.btn-modal:focus .modal-icon {
fill: #ffffff;
}
 .modal-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.modal-text{
    font-weight: 500;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}
.label-input{
    margin-bottom: 4px;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
 
}
/* icon-name */
.iconname-wrap{
    margin-bottom: 8px;
}
.icon-modalname,
.icon-modalemail,
.icon-modalphone{
    width: 18px;
        height: 24px;
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.class-for-input {
    position: relative;
}
/* icon-phone */
.iconphone-wrap {
    margin-bottom: 8px;
}

/* icon-email */
.iconmail-wrap{
    margin-bottom: 8px;
}
.input-modal{
padding-left: 38px;
padding-right: 15px;
width: 100%;    
height: 40px;
border-radius: 4px;
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.input-modal:hover,
.input-modal:active,
.text-area:hover,
.icon-modalname:hover,
.icon-modalname:focus,
.icon-modalemail:hover,
.icon-modalemail:focus,
.icon-modalphone:hover,
.icon-modalphone:focus{
border-color: #4D5AE5;
}
.input-modal:hover + .icon-modalname,
.input-modal:focus + .icon-modalname,
.input-modal:hover + .icon-modalemail,
.input-modal:focus + .icon-modalemail,
.input-modal:hover + .icon-modalphone,
.input-modal:focus + .icon-modalphone{
    fill: #4D5AE5;
}

.input-modal:focus{
  border-color: #4D5AE5;
}
.text-area:focus{  
    border-color: #4D5AE5;
}

.text-area{
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4)
       
}
.user-privacy:focus + .modal-policylabel .icon-modal-check{
fill: #4D5AE5;
}

.check-policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.link-policy{
        line-height: 1.33333;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #4d5ae5;
} 
.btn-undermodal{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* .bottom-btn-modal{
    display: block;
        padding-left: 90px;
        font-size: 16px;
        cursor: pointer;
        
} */
/* .text-area::placeholder{
    padding: 8px 16px;
} */
.span-modal{
    flex-shrink: 0;
    width: 16px;
    height: 16px;
border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    display: flex;
    /* margin-right: 12px; */
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    display: inline-flex;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
.modal-policylabel {
        font-size: 12px;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-left: 8px;
        line-height: 1.17;
        display: flex;  
}
.modal {
padding: 72px 24px 24px 24px;
width: 408px;  
}
}
.check-modal:checked + .modal-policylabel .span-modal {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
.is-open{
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.checkpolicy-modal{
    margin-bottom: 16px;

}
.modal-policy{
    margin-bottom: 24px; 
  
}
.modal-policylabel{
    font-size: 12px;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-left: 8px;
        line-height: 1.17;       
        display: flex;
        align-items: center;
}
/* footer-modal */
.footer-email{
    color: #ffffff;
    font-size: 12px;
    padding: 8px 16px;
    line-height: 2;
    letter-spacing: 0.04em;
    background-color: transparent;
    border: 1px solid #fff;
        border-radius: 4px;
        width: 288px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.footer-email::placeholder{
color: #fff;
}
.footer-modaltext{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
        text-align: center;
}
.footer-modal{
    display: block;
    gap: 24px;
    /* margin-left: 80px; */
}
.footer-modalbtn{
    display: flex;
    /* display: block; */
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 4px;
        padding: 8px 24px;
    width: 165px;
        height: 40px;
        background-color: #4d5ae5;
        border: none;
        font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            text-align: center;
            color: #fff;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
            cursor: pointer;
            position: relative;
}
.footer-input{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.footer-iconsend{
    fill: #fff;
    top: 10px;
    right: 24px;
    margin-left: 16px;
}
.footer-form{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}
/* Fotter media */

@media screen and (min-width: 768px) {
    .footer {
        padding: 96px 0;
    }
        .footer-email{
            width: 264px;
        }
        .footer-input{
            width: 264px;
        }
    .footer-container {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        padding: 0 108px;
        
    }

    .footer-text {
        color: #f4f4fd;
        letter-spacing: 0.02em;
        font-size: 16px;
        line-height: 1.5;
        width: 264px;
    }

    .footer-logo {
      display: block;
      margin-right: 24px;
      width: 264px;
    }

    .footer-modaltext {
        text-align: start;
    }
    .footer-texticons{
        text-align: left;
    }
}
@media screen and (min-width: 1158px){
    .footer {
            padding: 100px 0;
        }
    .footer-form{
        flex-wrap: nowrap;
    }
        .footer-container {
            padding: 0 15px;
            flex-wrap: nowrap;
            
        }
    
        .footer-text {
            color: #f4f4fd;
            letter-spacing: 0.02em;
            font-size: 16px;
            line-height: 1.5;
            margin: 0;
        }
    
       .footer-link{
            margin-bottom: 16px;
            font-family: "Raleway", sans-serif;
                font-weight: 700;
                font-size: 18px;
                line-height: 1.17;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #4d5ae5;
                display: inline-block;
                margin-bottom: 16px;
        }
.footer-logo{
    margin-right: 120px;
    margin-bottom: 0;
}
.footer-icons{
    margin-right: 80px;
    margin-bottom: 0;
}
}
@media screen and (min-width: 768px) {
    .address-list {
        display: flex;
        gap: 5px;
        flex-direction: column;
    }
        .btn-mobile{
            display: none;
        }

    .mob-menu {
        display: none;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .link-address {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16667;
        letter-spacing: 0.04em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

@media screen and (min-width: 1158px) {
    .address-list {
        display: flex;
        gap: 40px;
        flex-direction: row;
    }

    .header {
        margin: 0;
        padding: 0;
    }
    .link-address{
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
    }
}